{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, delectus minima. Voluptates, illum harum! Saepe suscipit quod velit? Temporibus rerum, atque, praesentium pariatur architecto, quis voluptates consequatur tempora corrupti exercitationem eos est. Dignissimos voluptas omnis dolor quibusdam enim eligendi perspiciatis. Consequatur nisi incidunt, aut neque voluptate necessitatibus ad qui aperiam amet sunt harum tempore distinctio ipsum nam dignissimos voluptatem, ex sequi illo eaque impedit debitis natus? Hic odio numquam ut? Ullam, sed? Facilis optio maiores fuga perspiciatis alias facere, ea repellendus suscipit praesentium blanditiis tenetur recusandae architecto esse harum iusto dolorem eaque! Inventore optio dolor voluptatum saepe aliquam, non aspernatur?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
    
</main>


{% endblock %}